*.pyc
*.swo
*~
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
.env
env/
.directory
.ropeproject/
*.egg-info/
*.db
*.sqlite3
*.swp
*.zip
*.orig
*.mmdb
*.DS_Store
*.py___jb_old___
*/package-lock.json
/pyvenv.cfg
*.sublime-*
*/logs
.python-version
*/pgdata/*
.vscode
.flake8
venv/
__pycache__
templates/static/node_modules
templates/public/bundle.js
